@charset "UTF-8";

/*
cor primária: #ffd700
cor sombra: #403600
cor complementar: #0F00B3
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #403600;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    background: #403600 url(../imagens/pexels-yurii-hlei-1545743.jpg) no-repeat;
    background-size: cover;
    background-position: center left;
    height: 200px;
}

#formulario{
    display: block;
    padding: 10px;

}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: 0.8em;
}

.botaoent{
    display: block;
    background-color: #ffd700;
    border-radius: 5px;
    border:none;
    width: 100%;
    height: 30px;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    cursor: pointer;
    margin-top: 5px;
}

.botaoent:hover{
    background-color: #403600;
    color: white;
}

.botaoesq {
    display: block;
    text-align: center;
    height: 30px;
    background-color: white;
    border: 2px solid #ffd700;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    font-size: 1em;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.botaoesq:hover {
    background-color: #ffd700;
}